@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
	box-sizing: border-box; 
	margin: 0;
	padding: 0; 
	}

	body {
		font-family: 'Roboto', "Helvetica Neue";
		justify-content: center;
		display: flex;
		/* display: flex; */
	}

	.container {
		background-color: #1C6DD0;
		margin: 50px;
		padding: 50px;
		border-radius: 50px;
		width: 700px;
		height: 700px;
		align-items: center;
		justify-content: center;
		/* 84DFFF */
	}

	.heading {
		text-align: center;
		color: #A3E4DB;

	}

	.text {
		text-align: center;
		color: #A3E4DB;

	}

	#btn {
		margin: 20px;
		text-align: center;
  		font-size: 24px;
		cursor: pointer;
		}

	.game-grid {
		justify-content: center;
		margin: 70px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 10px
		}

	.game-sqr {
	 	height: 100px;
		width: 100px;
		background: #A3E4DB;
		}